In [8]:
# Importing the PIL library
from PIL import Image
from PIL import ImageDraw
 
from PIL import Image, ImageDraw, ImageFont

In [11]:
# Open an Image

img = Image.open('title_bg2.png')
unicode_text = u"Hello World!"
font = ImageFont.truetype("arial.ttf", 28, encoding="unic")
#text_width, text_height = font.getsize(unicode_text)

 
# Call draw Method to add 2D graphics in an image
I1 = ImageDraw.Draw(img)
 
# Add Text to an image
I1.text((28, 596), "nice Car", fill=(255, 255, 255))
 
# Display edited image
img.show()

In [17]:
from PIL import Image, ImageDraw, ImageFont

# create an image
img = Image.open('title_bg2.png')

# get a font
fnt = ImageFont.truetype("arial.ttf", 50, encoding="unic")
# get a drawing context
d = ImageDraw.Draw(img)

# draw multiline text
d.multiline_text((10, 600), "Chemical\nGroup\n Analysis", font=fnt, fill=(255, 255, 255 ))

img.show()
img.save('title_new.png')

In [28]:
from docx import Document
from docx.shared import Inches

document = Document()

p = document.add_paragraph()
r = p.add_run()
#r.add_text('')
r.add_picture('title_new.png',width=Inches(6), height=Inches(9))
r.add_text(' do you like it?')

document.save('demo.docx')

In [29]:
from datetime import datetime

In [30]:
datetime.today().strftime('%Y-%m-%d')

'2024-04-16'

In [31]:
import pandas as pd

In [34]:
csv_data=pd.read_excel('excels\\Cleanery - handwash.xlsx',sheet_name='Graph&Weightings',skiprows=range(1, 55))

In [36]:
csv_data.fillna(' ')

                                  Cleanery - handwash Unnamed: 1
0                                                Name  Weightage
1                                      End point data      30.00
2                                     Exposure limits      60.00
3                                 GHS classifications      10.00
4
5                                             Hazards
6                                                Name  Weightage
7                                Acute human toxicity      15.00
8                              Acute aquatic toxicity      15.00
9                              Chronic human toxicity      35.00
10                           Chronic aquatic toxicity      35.00
11
12                                   Biodegradibility
13                                               Name  Weightage
14                                      Degradability      25.00
15                                           Mobility      25.00
16                                             Volume      15.00
17                                    Bioaccumulation      25.00
18                         Detected in drinking water      10.00
19
20                                   Research Subject
21                                               Name  Weightage
22  Growth in proportion of toxicology research/to...      80.00
23             Total toxicology research publications      20.00
24
25                     Environmental Studies Research
26                                               Name  Weightage
27  Total environmental studies research publications      20.00
28  Growth in proportion of environmental studies ...      80.00
29
30                                Toxicology Research
31                                               Name  Weightage
32                                         Toxicology      50.00
33                              Environmental studies      50.00
34
35                       Weighting for prioritisation
36                                               Name  Weightage
37                                           Toxicity      25.00
38                                           Exposure      18.00
39                                   Emerging Concern      57.00

In [40]:
document = Document()
df=csv_data.

In [41]:
t = document.add_table(csv_data.shape[0]+1, csv_data.shape[1])

In [42]:
# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

In [44]:
# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
document.save('./test.docx')